/* This is my first editing just to remind you*/
#first-heading{
 color: green;
 /*background-color: orange;*/
 font-size: 72px;
 width: 200px;
 height: 200px;
}

#second-heading{
    color: red;
}

#third-heading{
    color: pink;
}
#forth-heading{
    color: brown;
}

.generic-heading {
    font-size: 42px;
}

p {
    font-weight: bold;
    background-color: aqua;
}